.main_page {
    min-width: 70%;
    background-color: var(--white);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}

.main_title {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.main_describe {
    color: var(--text-color);
    text-align: center;
    width: 60%;
    font-size: 1.08rem;
}
