.subpage {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

.subpage h1 {
    color: var(--main-color);
}

.subpage h2 {
    color: var(--main-color);
    font-weight: 200;
}